.headed-box {
  border:1px solid #31B4FF;
  padding:6px;
  clear:both;
  margin-top:20px;
}
.headed-box h5 {
  background-color:white;
  float:left;
  top:-14px;
  padding:0 6px;
  position:relative;
  margin:0 0 0 20px;
}
.headed-box p, .headed-box h6, .headed-box div.wrapper {
  padding-top:0px;
  margin:15px 0 0;
}

/* Fields that are required for publication */
#assessment-base-edit #archetypes-fieldname-key_message,
#externaldataspec-base-edit #archetypes-fieldname-provider_name,
#externaldataspec-base-edit #archetypes-fieldname-provider_url,
#externaldataspec-base-edit #archetypes-fieldname-dataset_url,
#externaldataspec-base-edit #archetypes-fieldname-description,
#assessmentpart-base-edit #archetypes-fieldname-assessment,
#methodologyreference-base-edit #archetypes-fieldname-title,
#methodologyreference-base-edit #archetypes-fieldname-description,
#rationalereference-base-edit #archetypes-fieldname-title,
#rationalereference-base-edit #archetypes-fieldname-description,
#rationalereference-base-edit #archetypes-fieldname-reference_type,
#specification-base-edit #archetypes-fieldname-title,
#specification-base-edit #archetypes-fieldname-codes,
#specification-base-edit #archetypes-fieldname-dpsir,
#specification-base-edit #archetypes-fieldname-typology,
#specification-base-edit #archetypes-fieldname-rationale_justification,
#specification-base-edit #archetypes-fieldname-policy_context_description,
#specification-base-edit #archetypes-fieldname-definition,
#specification-base-edit #archetypes-fieldname-units,
#specification-base-edit #archetypes-fieldname-methodology,
#specification-base-edit #archetypes-fieldname-manager_user_id,
#specification-base-edit #archetypes-fieldname-themes,
#policyquestion-base-edit #archetypes-fieldname-title {
  background-color:#FF4444;
  padding:1em 1em 2em;
}
#datagridwidget-table-codes {
  width:auto !important;
}
#datagridwidget-add-button {
  float:none;
  background:none repeat scroll 0 0 #F5821F;
  border-color:#FFCC99 #663300 #333300 #FF9966;
  border-style:solid;
  border-width:1px;
  color:white;
  cursor:pointer;
  font:bold 0.9em verdana,sans-serif;
  padding:0.2em 0.3em;
  text-decoration:none;
  text-transform:lowercase;
}

/* Temporary overrides */
dl.toc {
  /* TODO: temporary override, because of conflict with kupu styling
   * Per Thulin has a ticket to fix this */
  display:inherit !important;
}

/* Active field stuff */
.sortable_spec {
  margin: 0;
  padding: 0;
  width: 100%;
}
.sortable_spec .handler {
  /* position: absolute; margin-left: -1.3em;  */
  float:left;
  margin-right:1em;
  display:block;
}
.sortable_spec .ui-state-highlight {
  height:40px;
}
.sortable_spec .ui-sortable-helper .spec_control {
  /* display:none; */
}
.ui-sortable-helper {
  width:inherit !important;
}
.scientific_references {
  list-style-type:none;
  list-style-image:none;
  line-height:inherit;
}
.list-item {
  /* #policy_questions  */
  margin:6px 0;
}
.logic_group {
  padding:1em;
}
.figure_edit_control {
  position:absolute;
  margin-top:40px;
  margin-left:50px;
}
.figure_edit_control a {
  /* background-color:#79AE59; */
	background:none repeat scroll 0 0 #F5821F;
	border-color:#FFCC99 #663300 #333300 #FF9966;
	border-style:solid;
	border-width:1px;
  color:white;
  font-size:inherit;
  height:inherit;
  width:inherit;
  padding:4px;
  font-weight:bold;
}
.col3 {
  float:left;
  width:30%;
  border-left:1px solid lightblue;
  padding-left:6px;
}
.work_item {margin-bottom:5px}
.work_item h5 {margin:0}
.work_item h6 {margin:0}
.grouped_field {
  border:1px dotted black;
  padding:1em;
}
.active_region h5 {
  margin-top:0;
}
#relatedItems-widget {
	/* float:right; */
}
#relatedItems-widget .searchButton {
	/* background-color:#79AE59; */
	/* border:none; */
	font-size:inherit;
}

/* Specification view */
.documentContent th {
  background-color: #31B4FF;
  font-weight: bold;
  font-size: 1.2em;
}
#content-more-updates-on {
  background-color: #d0df86;
  margin-right: 25em;
}
h1 {
  background: transparent url(Specification.gif) no-repeat scroll 0 8px;
  padding: 10px 0 6px 30px;
}
#assessment_versions {
  background: transparent url(Assessment.gif) no-repeat scroll 0 8px;
  padding: 10px 0 6px 30px;
}
#rationale {
  background: transparent url(RationaleReference.gif) no-repeat scroll 0 8px;
  padding: 10px 0 6px 30px;
}
#indicator_definition {
  background: transparent url(IMSDefinition.gif) no-repeat scroll 0 8px;
  padding: 10px 0 6px 30px;
}
#policy_context {
  background: transparent url(PolicyContext.gif) no-repeat scroll 0 8px;
  padding: 10px 0 6px 30px;
}
.policy_question {
  background: transparent url(PolicyQuestion.gif) no-repeat scroll 0 8px;
  padding: 10px 0 6px 30px;
}
#methodology {
  background: transparent url(MethodologyReference.gif) no-repeat scroll 0 8px;
  padding: 10px 0 6px 30px;
}
#data_specifications {
  background: transparent url(DataSpecification.gif) no-repeat scroll 0 8px;
  padding: 10px 0 6px 30px;
}
#uncertainties {
  background: transparent url(IMSUncertainties.gif) no-repeat scroll 0 8px;
  padding: 10px 0 6px 30px;
}
#further_work {
  background: transparent url(WorkItem.gif) no-repeat scroll 0 8px;
  padding: 10px 0 6px 30px;
}
#general_metadata {
  background: transparent url(IMSDescription.gif) no-repeat scroll 0 8px;
  padding: 10px 0 6px 30px;
}
#related_items {
  background: transparent url(Relations.png) no-repeat scroll 0 8px;
  padding: 13px 0 6px 35px;
}
.specification-overlay {
  background-image:url("../../++resource++jquery.ui.theme/images/ui-bg_flat_0_aaaaaa_40x100.png");
  opacity:0.3;
}
