.headed-box {
	border:1px solid Lightblue;
	padding:6px;
	clear:both;
	margin-top:20px;
}
.headed-box h5 {
	background-color:white;
	/* float:left; */
	top:-14px;
	padding:0 6px;
	position:relative;
	margin:0 0 0 20px;
}
.headed-box p, .headed-box h6, .headed-box div.wrapper {
	padding-top:0px;
	margin:15px 0 0;
}


/* ul.toc { */
/*     background-color:lightblue; */
/*     padding:1em 3em; */
/*     margin:0 0 1em 0; */
/* } */
/* ul.toc a { */
/*     color:black; */
/* } */

/* fields that are required for publication */
#assessment-base-edit #archetypes-fieldname-key_message,  
#externaldataspec-base-edit #archetypes-fieldname-provider_name, 
#externaldataspec-base-edit #archetypes-fieldname-provider_url, 
#externaldataspec-base-edit #archetypes-fieldname-dataset_url, 
#externaldataspec-base-edit #archetypes-fieldname-description, 
#assessmentpart-base-edit #archetypes-fieldname-assessment,
#methodologyreference-base-edit #archetypes-fieldname-title,
#methodologyreference-base-edit #archetypes-fieldname-description,
#rationalereference-base-edit #archetypes-fieldname-title,
#rationalereference-base-edit #archetypes-fieldname-description,
#rationalereference-base-edit #archetypes-fieldname-reference_type,
#specification-base-edit #archetypes-fieldname-title,
#specification-base-edit #archetypes-fieldname-codes,
#specification-base-edit #archetypes-fieldname-dpsir,
#specification-base-edit #archetypes-fieldname-typology,
#specification-base-edit #archetypes-fieldname-rationale_justification,
#specification-base-edit #archetypes-fieldname-policy_context_description,
#specification-base-edit #archetypes-fieldname-definition,
#specification-base-edit #archetypes-fieldname-units,
#specification-base-edit #archetypes-fieldname-methodology,
#specification-base-edit #archetypes-fieldname-manager_user_id,
#specification-base-edit #archetypes-fieldname-themes, 
#policyquestion-base-edit #archetypes-fieldname-title {
	background-color:#FF4444;
	padding:1em 1em 2em;
} 

#datagridwidget-table-codes {
	width:auto !important;
}
#datagridwidget-add-button {
	float:none;
	background:none repeat scroll 0 0 #F5821F;
	border-color:#FFCC99 #663300 #333300 #FF9966;
	border-style:solid;
	border-width:1px;
	color:white;
	cursor:pointer;
	font:bold 0.9em verdana,sans-serif;
	padding:0.2em 0.3em;
	text-decoration:none;
	text-transform:lowercase;
}

/* dialog customizations */
.section-ims .ui-dialog {
	width:800px !important;
	/* width:auto !important; */
}

#dialog-inner {
	/* height:500px; */
	/* overflow:auto; */
}

iframe.kupu-editor-iframe {
	height:300px !important;
}

#dialog-inner .field {
	/* margin:2em 2em 0 0; */
	background-color:inherit !important;
	padding:inherit !important;
	margin:0 1em 0 0 !important;
}
#dialog-inner label {
	display:none;
}

.widgets-area {
	height:400px;
	overflow:auto;
}

/* temporary overrides */
dl.toc {
	display:inherit !important;
	/* conflicts with kupu styling */
}

#rationale {
	background-color:#eDeDeD;
	margin:1em 0;
	padding:1px 1em;
}
#rationale .controls {
	float:right;
	/* width:200px; */
}
