/* Update ui images path
*/
.ui-icon-show {
  background-image: url(../../++resource++faceted_images/show.png) ! important;
}

.ui-icon-hide {
  background-image: url(../../++resource++faceted_images/hide.png) ! important;
}

.ui-icon, .ui-widget-content .ui-icon, .ui-widget-header .ui-icon {
  background-image: url(../../++resource++jquery.ui.theme/images/ui-icons_222222_256x240.png);
  cursor: pointer;
}

.ui-state-default .ui-icon {
  background-image: url(../../++resource++jquery.ui.theme/images/ui-icons_888888_256x240.png);
  cursor: pointer;
}

.ui-state-hover .ui-icon, .ui-state-focus .ui-icon, .ui-state-active .ui-icon {
  background-image: url(../../++resource++jquery.ui.theme/images/ui-icons_454545_256x240.png);
  cursor: pointer;
}
.ui-state-highlight .ui-icon {
  background-image: url(../../++resource++jquery.ui.theme/images/ui-icons_2e83ff_256x240.png);
  cursor: pointer;
}

.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {
  background-image: url(../../++resource++jquery.ui.theme/images/ui-icons_cd0a0a_256x240.png);
  cursor: pointer;
}

.ui-widget-content {
  background-image: url(../../++resource++jquery.ui.theme/images/ui-bg_flat_75_ffffff_40x100.png);
}

.ui-widget-header {
  background-image: url(../../++resource++jquery.ui.theme/images/ui-bg_highlight-soft_75_cccccc_1x100.png);
}

.ui-state-default, .ui-widget-content .ui-state-default {
  background-image: url(../../++resource++jquery.ui.theme/images/ui-bg_glass_75_e6e6e6_1x400.png);
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus {
  background-image: url(../../++resource++jquery.ui.theme/images/ui-bg_glass_75_dadada_1x400.png);
}

.ui-state-active, .ui-widget-content .ui-state-active {
  background-image: url(../../++resource++jquery.ui.theme/images/ui-bg_glass_65_ffffff_1x400.png);
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight {
  background-image: url(../../++resource++jquery.ui.theme/images/ui-bg_glass_55_fbf9ee_1x400.png);
}

.ui-state-error, .ui-widget-content .ui-state-error {
  background-image: url(../../++resource++jquery.ui.theme/images/ui-bg_glass_95_fef1ec_1x400.png);
}

.ui-widget-overlay {
  background-image: url(../../++resource++jquery.ui.theme/images/ui-bg_flat_0_aaaaaa_40x100.png);
}

.ui-widget-shadow {
  background-image: url(../../++resource++jquery.ui.theme/images/ui-bg_flat_0_aaaaaa_40x100.png);
}

/* jquery ui overrides
====================== */
.ui-widget-header:hover {
  cursor: move;
}

/* Archetypes
============= */
.formHelp {
  display: block;
}

#archetypes-fieldname-title input{
  width: auto;
}

#archetypes-fieldname-vocabulary select {
  width: 25em;
}

/* Widgets
========== */

.ui-widget-header {
  background: #CDE2A7;
  /* margin-bottom: 1em; */
  /* margin-top: -0.5em; */
  /* margin-right: -0.5em; */
  /* margin-left: -0.5em; */
  text-align: left;
  padding-left: 0.5em;
  padding-bottom: 0.3em;
}

/* Active fields 
 * ==========================*/

#dialog-inner {
	/* height:500px; */
	/* overflow:auto; */
}

#dialog-inner .cancel-btn {
	padding-left:2em;
}
#dialog-inner .field {
	/* margin:2em 2em 0 0; */
	background-color:inherit !important;
	padding:inherit !important;
	margin:0 1em 0 0 !important;
}
#dialog-inner label {
	/* display:none; */
}
#dialog-inner .fieldTextFormat {
	display:none;
}
.widgets-area {
	/* max-height:400px; */
	/* overflow:auto; */
}

.widgets-area .widgets-list {
	display:none;
}
.specification-loading {
	/* Ajax activity visual cue */
  background-image:url(./++resource++faceted_images/ajax-loader.gif);
  background-repeat:no-repeat;
	position:absolute;
	opacity:1;
	height:100px;
	width:100px;
	z-index:1200;
}

/* Active fields styling 
 * ========================*/
.active_region {
		/* padding:1em 0; */
}

.active_field .metadata, .active_field_hovered .metadata, .active_region .metadata {
	display:none;
}

.active_field .control {
	/* display:none; */
}

.active_field_hovered {
	background-color:#F3F3F3;
}

.active_field .control, .active_field_hovered .control {
	display:block !important;
	float:right;
	padding:4px;
	/* background-color:#79AE59; */
	background:none repeat scroll 0 0 #F5821F;
	border-color:#FFCC99 #663300 #333300 #FF9966;
	border-style:solid;
	border-width:1px;
	/* position:relative; */
	/* top:3px; */
	/* right:3px; */
}
.active_field .control a, .active_field_hovered .control a {
	color:white;
	font-weight:bold;
	text-decoration:none;
}
.active_field {
	border:1px dotted black;
	padding:1em;
	/* min-height:20px; */
}
.active_field h5 {
	margin-top:0;
}
.active_region .placeholder {
	background-color:#FFEB9B;
	padding:1em;
	text-align:center;
}

a.object_creator {
	/* float:right; */
	padding:3px;
	background-color:#CEE2A8;
	border-bottom:1px solid #AAA;
	color:black;
	display:block;
	margin-bottom:6px;
	text-align:center;
	text-decoration:none;
}
a.object_creator:hover {
	/* background-color:#79AE59; */
	background:none repeat scroll 0 0 #F5821F;
	border-color:#FFCC99 #663300 #333300 #FF9966;
	border-style:solid;
	border-width:1px;
	color:white;
	border-bottom:1px solid #AAA;
}
a.object_creator-disabled {
	display:none;
}

a.schemata_edit, a.object_delete {
	padding:1px 6px;
	background-color:#CEE2A8;
	color:black;
	text-decoration:none;
	display:block;
	float:left;
	margin-right:1em;
	border-bottom:1px solid #AAA;
}
a.schemata_edit:hover, a.object_delete:hover {
	/* background-color:#79AE59; */
	background:none repeat scroll 0 0 #F5821F;
	border-color:#FFCC99 #663300 #333300 #FF9966;
	border-style:solid;
	border-width:1px;
	color:white;
	border:none;
}


/* Kupu and calendar fixes for modal edit
 * ======================================*/
.calendar {
	z-index:1100;
}
iframe.kupu-editor-iframe {
	height:280px;		
}
div.kupu-fulleditor-zoomed .kupu-editor-iframe {
	height:none;
}
.forcekupu {
	display:none;
}
