.headed-box {
	border:1px solid Lightblue;
	padding:6px;
	clear:both;
	margin-top:20px;
}
.headed-box h3 {
	background-color:white;
	float:left;
	margin-left:20px;
	margin-top:-18px;
	padding:0 6px;
	position:relative;
}
.headed-box p, .headed-box h4, .headed-box div.wrapper {
	margin-top:10px;
}
ul.toc {
    background-color:lightblue;
    padding:1em 3em;
    margin:0 0 1em 0;
}
ul.toc a {
    color:black;
}

/* fields that are required for publication */
#assessment-base-edit #archetypes-fieldname-key_message,  
#externaldataspec-base-edit #archetypes-fieldname-provider_name, 
#externaldataspec-base-edit #archetypes-fieldname-provider_url, 
#externaldataspec-base-edit #archetypes-fieldname-dataset_url, 
#externaldataspec-base-edit #archetypes-fieldname-description, 
#assessmentpart-base-edit #archetypes-fieldname-assessment,
#methodologyreference-base-edit #archetypes-fieldname-title,
#methodologyreference-base-edit #archetypes-fieldname-description,
#rationalereference-base-edit #archetypes-fieldname-title,
#rationalereference-base-edit #archetypes-fieldname-description,
#rationalereference-base-edit #archetypes-fieldname-reference_type,
#specification-base-edit #archetypes-fieldname-title,
#specification-base-edit #archetypes-fieldname-codes,
#specification-base-edit #archetypes-fieldname-dpsir,
#specification-base-edit #archetypes-fieldname-typology,
#specification-base-edit #archetypes-fieldname-rationale_justification,
#specification-base-edit #archetypes-fieldname-policy_context_description,
#specification-base-edit #archetypes-fieldname-definition,
#specification-base-edit #archetypes-fieldname-units,
#specification-base-edit #archetypes-fieldname-methodology,
#specification-base-edit #archetypes-fieldname-manager_user_id,
#specification-base-edit #archetypes-fieldname-themes, 
#policyquestion-base-edit #archetypes-fieldname-title {
	background-color:lightblue;
	padding:1em;
} 

#datagridwidget-table-codes {
	width:auto !important;
}
#datagridwidget-add-button {
	float:none;
}
