.headed-box {
	border:1px solid Lightblue;
	padding:6px;
	clear:both;
	margin-top:20px;
}
.headed-box h3 {
	background-color:white;
	float:left;
	margin-left:20px;
	margin-top:-18px;
	padding:0 6px;
	position:relative;
}
.headed-box p, .headed-box h4, .headed-box div.wrapper {
	margin-top:10px;
}
ul.toc {
    background-color:lightblue;
    padding:1em 3em;
    margin:0 0 1em 0;
}
ul.toc a {
    color:black;
}
